<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataUrls = [
            'https://cdn.jsdelivr.net/gh/{{ site.repository }}@google-scholar-stats/gs_data.json',
            'https://raw.githubusercontent.com/{{ site.repository }}/google-scholar-stats/gs_data.json'
        ];
        {% else %}
        var gsDataUrls = [
            'https://raw.githubusercontent.com/{{ site.repository }}/google-scholar-stats/gs_data.json'
        ];
        {% endif %}

        function updateScholarStats(data) {
            function setElementText(id, value) {
                var element = document.getElementById(id);
                if (element && value !== undefined && value !== null) {
                    element.innerHTML = value;
                }
            }

            var publications = data['publications'] || {};
            var publicationKeys = Object.keys(publications);
            var totalPublications = data['publication_count'] || publicationKeys.length;
            if (totalPublications > 0) {
                setElementText('total_pub', totalPublications);
                setElementText('total_pub_summary', totalPublications);
            }
            setElementText('total_cit', data['citedby']);

            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                if (publications[paperId]) {
                    var numCitations = publications[paperId]['num_citations']
                    element.innerHTML = '| 引用: ' + numCitations;
                }
            });
        }

        function fetchScholarStats(index) {
            $.getJSON(gsDataUrls[index] + '?v=' + Date.now())
                .done(updateScholarStats)
                .fail(function () {
                    if (index + 1 < gsDataUrls.length) {
                        fetchScholarStats(index + 1);
                    }
                });
        }

        fetchScholarStats(0);
    })
</script>
